<div id="add_additive" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Ajout d'un additif
    </div>
    <div class="content">
        {{ form_start(form, {'method': 'POST', 'action': '/additives', 'attr': {'class': 'ui form', 'id': 'add_additive_form'} }) }}

        <div class="inline fields">
            <label>De quel type de procédure ? : </label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input id='checkbox_aao_add' type="radio" name="procedure_type" value="AAO" checked="checked">
                    <label>D'un AAO</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input id='checkbox_asmi_add' type="radio" name="procedure_type" value="ASMI">
                    <label>D'un ASMI</label>
                </div>
            </div>
        </div>
        
        <div class="field">
            {{ form_label(form.reference,"Numero") }}
            {{ form_widget(form.reference,{'attr':{'placeholder':"Référence du numero", 'data-validate': 'reference'}})}}
        </div>
        
        <div id="field_aao_add" class="field">
            {{ form_label(form.callOffer,"L'AAO concerné") }}
            {{ form_errors(form.callOffer, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.callOffer,{'attr':{'data-validate': 'callOffer', 'class': 'ui search dropdown'}})}}
        </div>

        <div id="field_asmi_add" class="field" style="display: none;">
            {{ form_label(form.expressionInterest,"L'ASMI consernée") }}
            {{ form_errors(form.expressionInterest, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.expressionInterest,{'attr':{'data-validate': 'expressionInterest', 'class': 'ui search dropdown'}})}}
        </div>

        <div class="field">
            {{ form_label(form.object,"Objet") }}
            {{ form_errors(form.object, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.object,{'attr':{'placeholder':"Objet de l'additif", 'data-validate': 'object'}})}}
        </div>

        {#<div class="field">
            {{ form_label(form.owner,"Maître d'ouvrage") }}
            {{ form_errors(form.owner, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.owner,{'attr':{'placeholder':"Maître d'ouvrage", 'data-validate': 'owner'}})}}
        </div>

        <div class="field">
            {{ form_label(form.publicationDate,"Date de publication") }}
            {{ form_widget(form.publicationDate,{'attr':{'data-validate': 'publication_date'}})}}
        </div>#}

        <div class="field">
            {{ form_label(form.openingDate,"Date d'ouverture de dépôt") }}
            <div class="two fields">
                <div class="field">
                    {{ form_widget(form.openingDate.date,{'attr':{'data-validate': 'opening_date_date'}})}}
                </div>
                <div class="field">
                    {{ form_widget(form.openingDate.time,{'attr':{'data-validate': 'opening_date_time'}})}}
                </div>
            </div>
        </div>

        <div class="field">
            {{ form_label(form.deadline,"Date limite de dépôt") }}
            <div class="two fields">
                <div class="field">
                    {{ form_widget(form.deadline.date,{'attr':{'data-validate': 'deadline_date'}})}}
                </div>
                <div class="field">
                    {{ form_widget(form.deadline.time,{'attr':{'data-validate': 'deadline_time'}})}}
                </div>
            </div>
        </div>

        <div class="field">
            {{ form_label(form.sendingDate,"Date de notification aux abonnés") }}
            <div class="two fields">
                <div class="field">
                    {{ form_widget(form.sendingDate.date,{'attr':{'data-validate': 'sending_date_date'}})}}
                </div>
                <div class="field">
                    {{ form_widget(form.sendingDate.time,{'attr':{'data-validate': 'sending_date_time'}})}}
                </div>
            </div>
        </div>
        {#<div class="field">
            {{ form_label(form.uploadedFiles, "Fichiers attachés")}}           
                {{ form_errors(form.uploadedFiles, {'attr': {'class': 'list'}})}}           
            {{ form_widget(form.uploadedFiles) }}
        </div>#}

        <div class="field">
            {{form_rest(form)}}
            <div id="server_error_message" class="ui negative message" style="display:none">
                <i class="close icon"></i>
                <div id="server_error_content" class="header">Internal server error</div>
            </div>
            <div id="error_name_message" class="ui error message" style="display: none">
                <i class="close icon"></i>
                <div id="error_name_header" class="header"></div>
                <ul id="error_name_list" class="list">

                </ul>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
    <div class="actions">
        <div id="cancel_add_additive" class="ui black deny button">
            Annuler
        </div>
        <div id='submit_additive' class="ui primary icon button">
            <i class="save icon"></i>
            Sauvegarder
        </div>
    </div>
</div>
<button id="add_additive_btn" class="float_button circular ui huge red icon button" data-tooltip="Nouvel additif" data-position="top center" data-inverted="">
    <i class="icon plus"></i>
</button>
