{% extends "OGIVEUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Nouveau compte{% endblock %}

{% block login_content %}
    <div class="ui singup_contenair basic segment container">
        <div class="ui centered card">
            <div class="first content text center aligned">
                <h2 class="header">Créer un compte utilisateur</h2>
            </div>
            <div class="content">
                <p>Veuillez renseigner les informations de l'utilisateur ici                    
                    {{ form_start(form, {'method': 'POST', 'action': path('fos_user_registration_register'), 'attr': {'class': 'ui form', 'id': 'register_form'} }) }}

                <div class="inline fields">
                    <label>Privilège: </label>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" name="role" value="ROLE_ADMIN" checked="checked">
                                <label>Administrateur</label>
                            </div>
                        </div>
                    {%endif %}
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="role" value="REDACTEUR">
                            <label>Rédacteur</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="role" value="FACTURIER">
                            <label>Facturier</label>
                        </div>
                    </div>
                </div>

                <div class="field">
                    {{ form_label(form.username,"Username") }}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.username, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.username,{'attr':{'placeholder':'Username', 'data-validate': 'username'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.email,"Adresse email") }}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.email, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.email,{'attr':{'placeholder':'Adresse email', 'data-validate': 'email'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.lastname,"Nom") }}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.lastname, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.lastname,{'attr':{'placeholder': 'Nom', 'data-validate': 'lastname'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.firstname,"Prénom") }}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.firstname, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.firstname,{'attr':{'placeholder': 'Prénom', 'data-validate': 'firstname'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.plainPassword.first,"Mot de passe") }}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.plainPassword.first, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.plainPassword.first,{'attr':{'placeholder':'Mot de passe', 'data-validate': 'password'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.plainPassword.second,"Confirmation mot de passe") }}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.plainPassword.second, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.plainPassword.second,{'attr':{'placeholder':'Confirmation mot de passe', 'data-validate': 'passwordConfirm'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.file, "Photo de profil")}}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.file, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.file, { 'attr' : {'class' : 'inputfile' }}) }}
                </div>

                <div class="field">
                    {{form_rest(form)}}
                </div>

                <button class="ui right floated primary button" type="submit">Créer le compte</button>
                <button class="ui right floated red button" type="reset">Effacer tout</button>
                {{ form_end(form) }}
            </div>
        </div> 
    </div>
{% endblock %}