<tr id="callOffer_list{{callOffer.id}}">
    <td>
        <div class="ui ribbon label">{{callOffer.reference}}</div>
    </td>
    <td>{{callOffer.object}}</td>
    <td class="right aligned">
        <div class="ui dropdown item">
            <i class="ellipsis vertical icon"></i>
            <div class="menu">
                <div onclick="show_callOffer({{callOffer.id}});" class="show_callOffer_btn item">
                    <i class="unhide icon"></i>
                    Détails
                </div>
                <div onclick="edit_callOffer({{callOffer.id}});" class="edit_callOffer_btn item">
                    <i class="edit icon"></i>
                    Modifier
                </div>
                <div onclick="delete_callOffer({{callOffer.id}});" class="delete_callOffer_btn item">
                    <i class="trash icon"></i>
                    Supprimer
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div onclick="enable_callOffer({{callOffer.id}});" class="enable_callOffer_btn item" {% if callOffer.state == 1 %} style="display: none" {% endif %}>
                        <i class="unlock icon"></i>
                        Activer
                    </div>
                    <div onclick="disable_callOffer({{callOffer.id}});" class="disable_callOffer_btn item" {% if callOffer.state != 1 %} style="display: none" {% endif %}>
                        <i class="lock icon"></i>
                        Désactiver
                    </div>
                {% endif %}
            </div>
        </div>
    </td>
</tr>