<div id="edit_callOffer" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Modification de l'appel d'offre << {{callOffer.reference}} >>
    </div>
    <div class="content">
        {{ form_start(form, {'method': 'PUT', 'action': path('call_offer_update', {'id': callOffer.id}), 'attr': {'class': 'ui form', 'id': 'edit_callOffer_form'} })}}

        <div class="inline fields">
            <label>Type d'appel d'offre: </label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input id='checkbox_aono_edit' type="radio" name="call_offer_type" value="AONO" {% if callOffer.type == "AONO" %} checked="checked" {% endif %}>
                    <label>AONO</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input id='checkbox_aonr_edit' type="radio" name="call_offer_type" value="AONR" {% if callOffer.type == "AONR" %} checked="checked" {% endif %}>
                    <label>AONR</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input id='checkbox_aoio_edit' type="radio" name="call_offer_type" value="AOIO" {% if callOffer.type == "AOIO" %} checked="checked" {% endif %}>
                    <label>AOIO</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input id='checkbox_aoir_edit' type="radio" name="call_offer_type" value="AOIR" {% if callOffer.type == "AOIR" %} checked="checked" {% endif %}>
                    <label>AOIR</label>
                </div>
            </div>
        </div>
        <div id="field_asmi_edit" class="field" {% if callOffer.type != "AONR" or callOffer.type != "AOIR" %} style="display: none" {% endif %}>
            {{ form_label(form.expressionInterest,"expressionInterest") }}
            {{ form_errors(form.expressionInterest, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.expressionInterest,{'attr':{'data-validate': 'expressionInterest', 'class': 'ui search dropdown'}})}}
        </div>

        <div class="field">
            {{ form_label(form.reference,"Numero") }}
            {{ form_widget(form.reference,{'attr':{'placeholder':"Numéro de l'appel d'offre", 'data-validate': 'reference'}})}}
        </div>

        <div class="field">
            {{ form_label(form.object,"Objet") }}
            {{ form_errors(form.object, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.object,{'attr':{'placeholder':"Objet de l'appel d'offre", 'data-validate': 'object'}})}}
        </div>

        <div class="field">
            {{ form_label(form.owner,"Maître d'ouvrage") }}
            {{ form_errors(form.owner, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.owner,{'attr':{'placeholder':"Maître d'ouvrage", 'data-validate': 'owner'}})}}
        </div>

        <div id='subDomain_edit_field' class="field">
            {{ form_label(form.domain,"Domaine") }}
            {{ form_errors(form.domain, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.domain,{'attr':{'data-validate': 'domain', 'class': 'ui search dropdown'}})}}
        </div>

        <div class="field">
            {{ form_label(form.subDomain,"Sous-domaine d'activité") }}
            {{ form_errors(form.subDomain, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.subDomain,{'attr':{ 'data-validate': 'subDomain', 'class': 'ui search dropdown'}})}}
        </div>

        <div class="field">
            {{ form_label(form.publicationDate,"Date de publication") }}
            {{ form_widget(form.publicationDate,{'attr':{'data-validate': 'publication_date'}})}}
        </div>

        <div class="field">
            {{ form_label(form.openingDate,"Date  de dépôt") }}
            <div class="two fields">
                <div class="field">
                    {{ form_widget(form.openingDate.date,{'attr':{'data-validate': 'opening_date_date'}})}}
                </div>
                <div class="field">
                    {{ form_widget(form.openingDate.time,{'attr':{'data-validate': 'opening_date_time'}})}}
                </div>
            </div>
        </div>

        <div class="field">
            {{ form_label(form.deadline,"Date d'ouverture") }}
            <div class="two fields">
                <div class="field">
                    {{ form_widget(form.deadline.date,{'attr':{'data-validate': 'deadline_date'}})}}
                </div>
                <div class="field">
                    {{ form_widget(form.deadline.time,{'attr':{'data-validate': 'deadline_time'}})}}
                </div>
            </div>
        </div>

        {#<div class="field">
            {{ form_label(form.sendingDate,"Date de notification aux abonnés") }}
            <div class="two fields">
                <div class="field">
                    {{ form_widget(form.sendingDate.date,{'attr':{'data-validate': 'sending_date_date'}})}}
                </div>
                <div class="field">
                    {{ form_widget(form.sendingDate.time,{'attr':{'data-validate': 'sending_date_time'}})}}
                </div>
            </div>
        </div>#}

        <div class="field" {% if not is_granted('ROLE_ADMIN') %} style="display: none;"{% endif %}>
            <div class="ui checkbox">
                <input id='checkbox_activate_edit' type="checkbox" name="send_activate" {% if callOffer.state == 1 %} checked="checked" {% endif %}>
                <label> Activer l'appel d'offres</label>
            </div>
        </div>
        <div class="field">
            {{ form_label(form.uploadedFiles, "Fichiers attachés")}}           
                {{ form_errors(form.uploadedFiles, {'attr': {'class': 'list'}})}}           
            {{ form_widget(form.uploadedFiles) }}
        </div>

        <div class="field">
            {{form_rest(form)}}
            <div id="server_error_message_edit" class="ui negative message" style="display:none">
                <i class="close icon"></i>
                <div id="server_error_content_edit" class="header">Internal server error</div>
            </div>
            <div id="error_name_message_edit" class="ui error message" style="display: none">
                <i class="close icon"></i>
                <div id="error_name_header_edit" class="header"></div>
                <ul id="error_name_list_edit" class="list">
                </ul>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
    <div class="actions">
        <div id="cancel_edit_callOffer" class="ui black deny button">
            Annuler
        </div>
        <div id='submit_edit_callOffer' class="ui primary icon button">
            <i class="save icon"></i>
            Sauvegarder
        </div>
    </div>
</div>