<div id='list_as_grid' class="ui basic segment container">
    <div class="ui four column doubling stackable grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{{asset('bundles/ogivealert/images/avatar_1.png')}}" alt=""/>
                </div>
                <div class="content">
                    <div class="header">Titre</div>
                    <div class="description">
                        Description de l'appel d'offre
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated">
                        <div class="ui dropdown item">
                            <i class="ellipsis vertical icon"></i>
                            <div class="menu">
                                <div class="ui item">
                                    <i class="unhide icon"></i>
                                    Details
                                </div>
                                <div class="item">
                                    <i class="edit icon"></i>
                                    Modifier
                                </div>
                                <div class="item">
                                    <i class="trash icon"></i>
                                    Supprimer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><i class="calendar icon"></i> 23 Mars 2016 </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{{asset('bundles/ogivealert/images/avatar_1.png')}}" alt=""/>
                </div>
                <div class="content">
                    <div class="header">Titre</div>
                    <div class="description">
                        Description de l'appel d'offre
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated">
                        <div class="ui dropdown item">
                            <i class="ellipsis vertical icon"></i>
                            <div class="menu">
                                <div class="ui item">
                                    <i class="unhide icon"></i>
                                    Details
                                </div>
                                <div class="item">
                                    <i class="edit icon"></i>
                                    Modifier
                                </div>
                                <div class="item">
                                    <i class="trash icon"></i>
                                    Supprimer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><i class="calendar icon"></i> 23 Mars 2016 </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{{asset('bundles/ogivealert/images/avatar_1.png')}}" alt=""/>
                </div>
                <div class="content">
                    <div class="header">Titre</div>
                    <div class="description">
                        Description de l'appel d'offre
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated">
                        <div class="ui dropdown item">
                            <i class="ellipsis vertical icon"></i>
                            <div class="menu">
                                <div class="ui item">
                                    <i class="unhide icon"></i>
                                    Details
                                </div>
                                <div class="item">
                                    <i class="edit icon"></i>
                                    Modifier
                                </div>
                                <div class="item">
                                    <i class="trash icon"></i>
                                    Supprimer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><i class="calendar icon"></i> 23 Mars 2016 </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{{asset('bundles/ogivealert/images/avatar_1.png')}}" alt=""/>
                </div>
                <div class="content">
                    <div class="header">Titre</div>
                    <div class="description">
                        Description de l'appel d'offre
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated">
                        <div class="ui dropdown item">
                            <i class="ellipsis vertical icon"></i>
                            <div class="menu">
                                <div class="ui item">
                                    <i class="unhide icon"></i>
                                    Details
                                </div>
                                <div class="item">
                                    <i class="edit icon"></i>
                                    Modifier
                                </div>
                                <div class="item">
                                    <i class="trash icon"></i>
                                    Supprimer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><i class="calendar icon"></i> 23 Mars 2016 </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="{{asset('bundles/ogivealert/images/avatar_1.png')}}" alt=""/>
                </div>
                <div class="content">
                    <div class="header">Titre</div>
                    <div class="description">
                        Description de l'appel d'offre
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated">
                        <div class="ui dropdown item">
                            <i class="ellipsis vertical icon"></i>
                            <div class="menu">
                                <div class="ui item">
                                    <i class="unhide icon"></i>
                                    Details
                                </div>
                                <div class="item">
                                    <i class="edit icon"></i>
                                    Modifier
                                </div>
                                <div class="item">
                                    <i class="trash icon"></i>
                                    Supprimer
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><i class="calendar icon"></i> 23 Mars 2016 </div>
                </div>
            </div>
        </div>
    </div>
</div>