<div id="add_callOffer" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Ajout d'un appel d'offre
    </div>
    <div class="content">
        {{ form_start(form, {'method': 'POST', 'action': path('call_offer_add'), 'attr': {'class': 'ui form', 'id': 'add_callOffer_form', "autocomplete":"off"} }) }}

        <div class="inline fields">
            <label>Type d'appel d'offre: </label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input id='checkbox_aono_add' type="radio" name="call_offer_type" value="AONO" checked="checked">
                    <label>AONO</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input id='checkbox_aonr_add' type="radio" name="call_offer_type" value="AONR">
                    <label>AONR</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input id='checkbox_aoio_add' type="radio" name="call_offer_type" value="AOIO">
                    <label>AOIO</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input id='checkbox_aoir_add' type="radio" name="call_offer_type" value="AOIR">
                    <label>AOIR</label>
                </div>
            </div>
        </div>

        <div id="field_asmi_add" class="field" style="display: none;">
            {{ form_label(form.expressionInterest,"expressionInterest") }}
            {{ form_errors(form.expressionInterest, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.expressionInterest,{'attr':{'data-validate': 'expressionInterest', 'class': 'ui search dropdown'}})}}
        </div>

        <div class="field">
            {{ form_label(form.reference,"Numéro") }}
            {{ form_widget(form.reference,{'attr':{'placeholder':"Le numéro de l'appel d'offre", 'data-validate': 'reference'}})}}
        </div>

        <div class="field">
            {{ form_label(form.object,"Objet") }}
            {{ form_errors(form.object, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.object,{'attr':{'placeholder':"Objet de l'appel d'offre", 'data-validate': 'object'}})}}
        </div>

        <div class="field">
            {{ form_label(form.owner,"Maître d'ouvrage") }}
            {{ form_errors(form.owner, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.owner,{'attr':{'placeholder':"Maître d'ouvrage", 'data-validate': 'owner'}})}}
        </div>

        <div class="field">
            {{ form_label(form.domain,"Domaine d'activité") }}
            {{ form_errors(form.domain, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.domain,{'attr':{'data-validate': 'domain', 'class': 'ui search dropdown'}})}}
        </div>

        <div id='subDomain_add_field' class="field">
            {{ form_label(form.subDomain,"Sous-domaine d'activité") }}
            {{ form_errors(form.subDomain, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.subDomain,{'attr':{ 'data-validate': 'subDomain', 'class': 'ui search dropdown'}})}}
        </div>

        <div class="field">
            {{ form_label(form.publicationDate,"Date de publication", {'label_attr':{'for': 'openingDate'}}) }}
            <div class="ui calendar" >
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    {{ form_widget(form.publicationDate,{'id':'publicationDate', 'attr':{'data-validate': 'publication_date'}})}}
                </div>
            </div>
{#            {{ form_widget(form.publicationDate,{'attr':{'data-validate': 'publication_date'}})}}#}
        </div>

        <div class="field">
            {{ form_label(form.openingDate,"Date de dépôt", {'label_attr':{'for': 'openingDate'}}) }}
            <div class="ui calendar" >
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    {{ form_widget(form.openingDate,{'id':'openingDate', 'attr':{'data-validate': 'opening_date_date'}})}}
                </div>
            </div>
            {#<div class="two fields">
                <div class="field">
                    {{ form_widget(form.openingDate.date,{'attr':{'data-validate': 'opening_date_date'}})}}
                </div>
                <div class="field">
                    {{ form_widget(form.openingDate.time,{'attr':{'data-validate': 'opening_date_time'}})}}
                </div>
            </div>#}
        </div>

        <div class="field">
            {{ form_label(form.deadline,"Date d'ouverture", {'label_attr':{'for': 'deadline'}}) }}
            <div class="ui calendar" >
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    {{ form_widget(form.deadline,{'id':'deadline', 'attr':{ 'data-validate': 'deadline_date'}})}}
                </div>
            </div>
            {#<div class="two fields">
                <div class="field">
                    {{ form_widget(form.deadline,{'attr':{'data-validate': 'deadline_date'}})}}
                </div>
                <div class="field">
                    {{ form_widget(form.deadline.time,{'attr':{'data-validate': 'deadline_time'}})}}
                </div>
            </div>#}
        </div>

        {#<div class="field">
            {{ form_label(form.sendingDate,"Date de notification aux abonnés") }}
            <div class="two fields">
                <div class="field">
                    {{ form_widget(form.sendingDate.date,{'attr':{'data-validate': 'sending_date_date'}})}}
                </div>
                <div class="field">
                    {{ form_widget(form.sendingDate.time,{'attr':{'data-validate': 'sending_date_time'}})}}
                </div>
            </div>
        </div>#}

        <div class="field" {% if not is_granted('ROLE_ADMIN') %} style="display: none;"{% endif %}>
            <div class="ui checkbox">
                <input id='checkbox_activate' type="checkbox" name="send_activate" >
                <label> Activer l'appel d'offres</label>
            </div>
        </div>
        <div class="field">
            {{ form_label(form.uploadedFiles, "Fichiers attachés")}}           
            {{ form_errors(form.uploadedFiles, {'attr': {'class': 'list'}})}}           
            {{ form_widget(form.uploadedFiles) }}
        </div>

        <div class="field">
            {{form_rest(form)}}
            <div id="server_error_message" class="ui negative message" style="display:none">
                <i class="close icon"></i>
                <div id="server_error_content" class="header">Internal server error</div>
            </div>
            <div id="error_name_message" class="ui error message" style="display: none">
                <i class="close icon"></i>
                <div id="error_name_header" class="header"></div>
                <ul id="error_name_list" class="list">

                </ul>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
    <div class="actions">
        <div id="cancel_add_callOffer" class="ui black deny button">
            Annuler
        </div>
        <div id='submit_callOffer' class="ui primary icon button">
            <i class="save icon"></i>
            Sauvegarder
        </div>
    </div>
</div>
<button id="add_callOffer_btn" class="float_button circular ui huge red icon button" data-tooltip="Nouvel AAO" data-position="top center" data-inverted="">
    <i class="icon plus"></i>
</button>
