<div id="edit_entreprise" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Modification de l'entreprise << {{entreprise.name}} >>
    </div>
    <div class="content">
        <form id="edit_entreprise_form" class="ui form" name="ogive_alertbundle_entreprise" method="PUT" action="{{ path('entreprise_update', {'id': entreprise.id}) }}" {{ form_enctype(form) }} novalidate="novalidate">
        {#{ form_start(form, {'method': 'PUT', 'action': path('entreprise_update', {'id': entreprise.id}), 'attr': {'class': 'ui form', 'id': 'edit_entreprise_form'} }) }#}

            <div class="field">
                {{ form_label(form.name,"Nom") }}
                {{ form_widget(form.name,{'attr':{'placeholder':"Nom de l'entreprise", 'data-validate': 'name'}})}}
            </div>

            {#<div class="field">
                {{ form_label(form.file, "Logo")}}
                {{ form_errors(form.file, {'attr': {'class': 'list'}})}}
                {{ form_widget(form.file, { 'attr' : {'class' : 'inputfile' }}) }}
            </div>#}

            <div class="field">
                {{ form_label(form.domains,"Domaines d'activité") }}
                {{ form_errors(form.domains, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.domains,{'attr':{'data-validate': 'domains', 'class': 'ui search dropdown'}})}}
            </div>
            
             <div class="field">
                {{ form_label(form.subDomains,"Ses sous-domaines d'activité") }}
                {{ form_errors(form.subDomains, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.subDomains,{'attr':{'data-validate': 'subDomains', 'class': 'ui search dropdown'}})}}
            </div>

            <div class="field">
                {{ form_label(form.address.email,"Email") }}
                {{ form_widget(form.address.email,{'attr':{'placeholder':"Email de l'entreprise", 'data-validate': 'email'}})}}
            </div>

            <div class="field">
                {{ form_label(form.address.phone,"Téléphone") }}
                {{ form_widget(form.address.phone,{'attr':{'placeholder':"Numero de téléphone", 'data-validate': 'phone'}})}}
            </div>

            <div class="field">
                {{ form_label(form.address.mailBox,"Boîte postale") }}
                {{ form_widget(form.address.mailBox,{'attr':{'placeholder':"Boîte postale", 'data-validate': 'mailBox'}})}}
            </div>

            <div class="field">
                {{ form_label(form.address.country,"Pays") }}
                {{ form_errors(form.address.country, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.address.country,{'attr':{'data-validate': 'domain', 'class': 'ui search dropdown'}})}}
            </div>

            <div class="field">
                {{ form_label(form.address.street,"Ville") }}
                {{ form_widget(form.address.street,{'attr':{'placeholder':"Ville de localisation", 'data-validate': 'mailBox'}})}}
            </div>

            <div class="field">
                {{ form_label(form.address.place,"Lieu de localisation") }}
                {{ form_widget(form.address.place,{'attr':{'placeholder':"Lieu de localisation", 'data-validate': 'mailBox'}})}}
            </div>

            {#<div class="field">
                {{ form_label(form.address.file, "Plan de localisation")}}
                {{ form_errors(form.address.file, {'attr': {'class': 'list'}})}}
                {{ form_widget(form.address.file, { 'attr' : {'class' : 'inputfile' }}) }}
            </div>#}

            <div class="field">
                <div id="server_error_message_edit" class="ui negative message" style="display:none">
                    <i class="close icon"></i>
                    <div id="server_error_content_edit" class="header">Internal server error</div>
                </div>
                <div id="error_name_message_edit" class="ui error message" style="display: none">
                    <i class="close icon"></i>
                    <div id="error_name_header_edit" class="header"></div>
                    <ul id="error_name_list_edit" class="list">

                    </ul>
                </div>
            </div>

            <div class="field">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Ajout des abonnés</div>
                    </div>
                    <div class="content">
                        <table class="ui very basic table">
                            <thead>
                                <tr><th>Nom</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>
                                    <th>Abonnement</th>
                                    <th class="right aligned">Action</th>
                                </tr>
                            </thead>
                            <tbody class="subscribers_edit" data-prototype="{{ _self.subscriber_prototype(form.subscribers.vars.prototype)|e }}">
                                {% for subscriber in form.subscribers %}
                                    <tr>
                                        {{ _self.subscriber_prototype(subscriber) }}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            {% macro subscriber_prototype(childForm) %}
                                <td>{{ form_widget(childForm.name,{'attr':{'data-validate': 'name_subscriber'}}) }}</td>
                                <td>{{ form_widget(childForm.phoneNumber,{'attr':{'data-validate': 'phone_subscriber'}}) }}</td>
                                <td>{{ form_widget(childForm.email,{'attr':{'data-validate': 'email_subscriber'}}) }}</td>
                                <td>{{ form_widget(childForm.subscription,{'attr':{'data-validate': 'subscription_subscriber', 'class': 'ui subscriber_ent_subscription search dropdown'}}) }}</td>
                            {% endmacro %}
                        </table>
                    </div>
                </div>
            </div>
            {{form_widget(form._token)}}
        {#{ form_end(form) }#}
        </form>
    </div>
    <div class="actions">
        <div id="cancel_edit_entreprise" class="ui black deny button">
            Annuler
        </div>
        <div id='submit_edit_entreprise' class="ui primary icon button">
            <i class="save icon"></i>
            Sauvegarder
        </div>
    </div>
</div>
<script>
    function addSubscriberForm($collectionHolder, $newLinkTr) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var $newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a subscriber" link li
        var $newFormTr = $('<tr></tr>').append($newForm);
        $newLinkTr.before($newFormTr);
        $('.ui.subscriber_ent_subscription.search.dropdown').dropdown({
            on: 'click'
        });
        addSubscriberFormDeleteLink($newFormTr);
    }

    function addSubscriberFormDeleteLink($subscriberFormTr) {
        var $removeFormA = $('<td class="right aligned"><button class="ui red compact icon button" data-tooltip="Supprimer" data-position="bottom center" data-inverted="" data-variation="mini"><i class="trash icon"></i></button></td>');
        $subscriberFormTr.append($removeFormA);
        $removeFormA.on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the subscriber form
            $subscriberFormTr.remove();
        });
    }

    var $collectionHolder;

    // setup an "add a subscriber" link
    var $addSubscriberLink = $('<button class="ui primary button" ><i class="add user icon"></i> Ajouter</button>');
    var $newLinkTr = $('<tr></tr>').append($addSubscriberLink);

    jQuery(document).ready(function () {
        /******** suppression des subscribers *********/
        // Get the ul that holds the collection of subscribers
        $collectionHolder = $('tbody.subscribers_edit');

        // add a delete link to all of the existing subscriber form li elements
        $collectionHolder.find('tr').each(function () {
            addSubscriberFormDeleteLink($(this));
        });


        /******** Ajout des subscribers *********/

        // Get the ul that holds the collection of subscribers
        $collectionHolder = $('tbody.subscribers_edit');

        // add the "add a subscriber" anchor and li to the subscribers ul
        $collectionHolder.append($newLinkTr);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addSubscriberLink.on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new subscriber form (see next code block)
            addSubscriberForm($collectionHolder, $newLinkTr);
        });
    });
</script>