<tr id="entreprise_list{{entreprise.id}}">
    <td>
        <div class="ui ribbon label">{{entreprise.name}}</div>
    </td>
    <td>{{entreprise.address.phone}}</td>
    <td class="right aligned">
       {# <a onclick="send_procedure_entreprise({{entreprise.id}});" class="send_sms_entreprise_btn item" data-tooltip="Notifier d'une procédure" data-position="top center" data-inverted="">
            <i class="alarm icon"></i>
        </a>
        <a onclick="send_sms_entreprise({{entreprise.id}});" class="send_sms_entreprise_btn item" data-tooltip="Envoyer un SMS" data-position="top center" data-inverted="">
            <i class="talk icon"></i>
        </a>#}
        <a class="ui dropdown item">
            <i class="ellipsis vertical icon"></i>
            <div class="menu">
                <div onclick="show_entreprise({{entreprise.id}});" class="show_entreprise_btn item">
                    <i class="unhide icon"></i>
                    Détails
                </div>
                <div onclick="edit_entreprise({{entreprise.id}});" class="edit_entreprise_btn item">
                    <i class="edit icon"></i>
                    Modifier
                </div>
                <div onclick="delete_entreprise({{entreprise.id}});" class="delete_entreprise_btn item">
                    <i class="trash icon"></i>
                    Supprimer
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div onclick="enable_entreprise({{entreprise.id}});" class="enable_entreprise_btn item" {% if entreprise.state == 1 %} style="display: none" {% endif %}>
                        <i class="unlock icon"></i>
                        Activer
                    </div>
                    <div onclick="disable_entreprise({{entreprise.id}});" class="disable_entreprise_btn item" {% if entreprise.state != 1 %} style="display: none" {% endif %}>
                        <i class="lock icon"></i>
                        Désactiver
                    </div>
                {% endif %}
            </a>
        </div>
    </td>
</tr>