<div id="edit_entreprise" class="ui modal">
    <i class="close icon"></i>
    <div id="header_details" class="header">
        Details de l'entreprise << {{entreprise.name}} >>
    </div>
    <div id="header_edits" class="header" style="display: none">
        Modification de l'entreprise << {{entreprise.name}} >>
    </div>
    <div class="content">
        <form id='edit_entreprise_form' class="ui form" method="PUT" action="{{ path('entreprise_update', {'id': entreprise.id})}}" {{ form_enctype(form) }}>
            <div id="block_form_edit" style="display: none">            

                <div class="field">
                    {{ form_label(form.name,"Nom") }}
                    {{ form_widget(form.name,{'attr':{'placeholder':"Nom de l'entreprise", 'data-validate': 'name'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.domain,"Domaine d'activité") }}
                    {{ form_errors(form.domain, {'attr': {'class': 'ui error message'}})}}
                    {{ form_widget(form.domain,{'attr':{'data-validate': 'domain', 'class': 'ui search dropdown'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.address.email,"Email") }}
                    {{ form_widget(form.address.email,{'attr':{'placeholder':"Email de l'entreprise", 'data-validate': 'email'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.address.phone,"Téléphone") }}
                    {{ form_widget(form.address.phone,{'attr':{'placeholder':"Numero de téléphone", 'data-validate': 'phone'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.address.mailBox,"Boîte postale") }}
                    {{ form_widget(form.address.mailBox,{'attr':{'placeholder':"Boîte postale", 'data-validate': 'mailBox'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.address.country,"Pays") }}
                    {{ form_errors(form.address.country, {'attr': {'class': 'ui error message'}})}}
                    {{ form_widget(form.address.country,{'attr':{'data-validate': 'domain', 'class': 'ui search dropdown'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.address.street,"Ville") }}
                    {{ form_widget(form.address.street,{'attr':{'placeholder':"Ville de localisation", 'data-validate': 'mailBox'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.address.place,"Lieu de localisation") }}
                    {{ form_widget(form.address.place,{'attr':{'placeholder':"Lieu de localisation", 'data-validate': 'mailBox'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.file, "Logo")}}
                    {{ form_errors(form.file, {'attr': {'class': 'list'}})}}
                    {{ form_widget(form.file, { 'attr' : {'class' : 'inputfile' }}) }}
                </div>

                <div class="field">
                    {{ form_label(form.address.file, "Plan de localisation")}}
                    {{ form_errors(form.address.file, {'attr': {'class': 'list'}})}}
                    {{ form_widget(form.address.file, { 'attr' : {'class' : 'inputfile' }}) }}
                </div>

                <div class="field">
                    {{form_rest(form)}}
                    <div id="server_error_message_edit" class="ui negative message" style="display:none">
                        <i class="close icon"></i>
                        <div id="server_error_content_edit" class="header">Internal server error</div>
                    </div>
                    <div id="error_name_message_edit" class="ui error message" style="display: none">
                        <i class="close icon"></i>
                        <div id="error_name_header_edit" class="header"></div>
                        <ul id="error_name_list_edit" class="list">

                        </ul>
                    </div>
                </div>


            </div>
            <div id="block_details">
                <div class="two fields">
                    <div class="field">
                        <label>Logo : </label> 
                    </div>
                    <div class="field">
                        {% if entreprise.logo %}
                            <div class="image">
                                <img src="{{asset('uploads/logos_entreprises/'~entreprise.logo)}}" alt="{{entreprise.name}}"/>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Nom : </label> 
                    </div>
                    <div class="field">
                        <span> {{ entreprise.name}}</span>
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Domaine d'activité : </label> 
                    </div>
                    <div class="field">
                        {{ entreprise.domain.name}}
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Numéro de téléphone : </label> 
                    </div>
                    <div class="field">
                        <span> {{ entreprise.address.phone}}</span>
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Email : </label> 
                    </div>
                    <div class="field">
                        {{ entreprise.address.email}}
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Boîte poste : </label> 
                    </div>
                    <div class="field">
                        <span> {{ entreprise.address.mailBox}}</span>
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Pays : </label> 
                    </div>
                    <div class="field">
                        {{ entreprise.address.country|country_name}}
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Ville : </label> 
                    </div>
                    <div class="field">
                        {{ entreprise.address.street}}
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Lieu de localisation : </label> 
                    </div>
                    <div class="field">
                        <span> {{ entreprise.address.place}}</span>
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Plan de localisation : </label> 
                    </div>
                    <div class="field">
                        {% if entreprise.address.path %}
                            <a  href="{{asset('uploads/planslocalisation/'~entreprise.address.path)}}" target="_blank" alt="{{entreprise.name}}"/>Lien vers le plan de localisation</a>
                        {% endif %}
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Date de création : </label>
                    </div>
                    <div class="field">
                        <span> {{ entreprise.createDate is empty ? "" : entreprise.createDate|date('d-m-Y H:i:s')}}</span>
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Date de la dernière modification : </label> 
                    </div>
                    <div class="field">
                        <span> {{ entreprise.createDate is empty ? "" : entreprise.createDate|date('d-m-Y H:i:s')}}</span>
                    </div>
                </div>

                <div id="field_state_enable" class="two fields" {% if entreprise.state != 1 %} style="display: none" {% endif %}>
                    <div class="field">
                        <label>Etat : </label>
                    </div>
                    <div class="field">
                        <span> Activé </span>
                    </div>             
                </div>

                <div id="field_state_disable" class="two fields" {% if entreprise.state == 1 %} style="display: none" {% endif %}>
                    <div class="field">
                        <label>Etat : </label>
                    </div>
                    <div class="field">
                        <span> Désactivé </span>
                    </div>

                </div>

            </div>
            <div class="field">
                {{ form_widget(form._token) }}
                <div id="server_error_message_edit" class="ui negative message" style="display:none">
                    <i class="close icon"></i>
                    <div id="server_error_content_edit" class="header">Internal server error</div>
                </div>
                <div id="error_name_message_edit" class="ui error message" style="display: none">
                    <i class="close icon"></i>
                    <div id="error_name_header_edit" class="header"></div>
                    <ul id="error_name_list_edit" class="list">

                    </ul>
                </div>
            </div>

        </form>
    </div>
    <div class="actions">
        <div id="cancel_details_entreprise" class="ui black deny button">
            Fermer
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div id="cancel_edit_entreprise" class="ui grey button" style="display:none">
                Annuler
            </div>
            <div id='disable_entreprise' onclick="disable_entreprise({{entreprise.id}});" class="ui red icon button" {% if entreprise.state != 1 %} style="display: none" {% endif %}>
                <i class="lock icon"></i>
                Désactiver
            </div>
            <div id='enable_entreprise' onclick="enable_entreprise({{entreprise.id}});" class="ui green icon button" {% if entreprise.state == 1 %} style="display: none" {% endif %}>
                <i class="unlock icon"></i>
                Activer
            </div>
            <div id='edit_entreprise_btn' class="ui primary icon button">
                <i class="edit icon"></i>
                Modifier
            </div>
            <div id='submit_edit_entreprise' class="ui primary icon button" style="display: none">
                <i class="save icon"></i>
                Sauvegarder
            </div>
        {% endif %}
    </div>
</div>