<div id='list_as_grid' class="ui basic segment container">
    <div id='list_as_grid_content' class="ui two column doubling stackable grid">
        {%if procedureResults%}
            {%for procedureResult in procedureResults%}            
                <div id="procedureResult_grid{{procedureResult.id}}" class="column">
                    <div class="ui fluid card">
                        <div class="content">
                            <div class="header">{{procedureResult.reference}}</div>
                            <div class="meta">
                                <span>Créée le {{ procedureResult.createDate is empty ? "" : procedureResult.createDate|date('d-m-Y')}} à {{ procedureResult.createDate is empty ? "" : procedureResult.createDate|date('H:i')}} par {% if procedureResult.user %}{{ procedureResult.user.username }}{% else %}guy{% endif %}d</span>
                            </div>
                            <div class="description">
                                {{procedureResult.object}}
                            </div>
                        </div>
                        <div class="extra content">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a id="enable_procedureResult_grid{{procedureResult.id}}" onclick="enable_procedureResult({{procedureResult.id}});" {% if procedureResult.state == 1 %} style="display: none" {% endif %}  data-tooltip="Activer" data-position="bottom center" data-inverted=""><i class="unlock red icon"></i></a>
                                <a id="disable_procedureResult_grid{{procedureResult.id}}" onclick="disable_procedureResult({{procedureResult.id}});" {% if procedureResult.state != 1 %} style="display: none" {% endif %}  data-tooltip="Désactiver" data-position="bottom center" data-inverted=""><i class="lock green icon"></i></a>
                                {% endif %}
                            <div class="right floated">
                                {% if procedureResult.state == 1 %}
                                    <a onclick="send_procedure_procedureResult({{procedureResult.id}});" class="send_sms_procedureResult_btn item" data-tooltip="Notifier les abonnés" data-position="top center" data-inverted="">
                                        <i class="alarm icon"></i>
                                    </a>
                                {% endif %}
                                <a class="ui dropdown item">
                                    <i class="ellipsis vertical icon"></i>
                                    <div class="menu">
                                        <div onclick="show_procedureResult({{procedureResult.id}});" class="show_procedureResult_btn item">
                                            <i class="unhide icon"></i>
                                            Détails
                                        </div>
                                        <div onclick="edit_procedureResult({{procedureResult.id}});" class="edit_procedureResult_btn item">
                                            <i class="edit icon"></i>
                                            Modifier
                                        </div>
                                        <div onclick="delete_procedureResult({{procedureResult.id}});" class="delete_procedureResult_btn item">
                                            <i class="trash icon"></i>
                                            Supprimer
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%} 
        {%endif%}         
    </div>
</div>