{% extends "OGIVEAlertBundle::layout.html.twig" %}
{% block title %}Les attributions{% endblock %}

{% block sub_header %}
    {{parent()}}
    <form id='search_form' method='GET' action='{{path(app.request.attributes.get('_route'))}}'>
        <div id="second_computer_top_nav" class="ui computer_top_nav inverted main menu" style="background-color: #eeeeee; position: fixed;
             top: 70px; left: 0; right: 0; height:4em;">
            <div class="ui container">
                <div class="ui left inverted secondary menu">
                    <a href="{{ path('procedureResult_index') }}" id="document_title" class="item">
                        <h3>Liste des attributions</h3>
                    </a>
                </div>

                <div class="ui center inverted secondary menu">
                    <div class="ui search item">
                        <div class="ui action input" style="width: 35em">
                            <div class="ui input right icon s" style="width: 35em"> 
                                <i class="remove link icon s" {% if not search_query %} style="display: none;" {% endif %} search_input_id='s'></i>
                                <input id="s" class="prompt search_input" type="text" placeholder="{% if placeholder %} {{placeholder}} {% endif %}" value='{% if search_query %} {{search_query}} {% endif %}' name='search_query'>
                            </div>
                            <button id="submit_search_form" type="submit" class="ui yellow button"><i class="search icon"></i></button>
                        </div>
                        <div class="results"></div>                 
                    </div>  
                </div>

                <div class="ui right inverted secondary menu">
                    <div id='show_list_table' class="ui circular icon button item" data-tooltip="Afficher sous forme de liste" data-position="bottom center" data-inverted="">
                        <i class="large list layout icon"></i>
                    </div>
                    <a class="ui circular icon button item">
                        <i class="large trash icon"></i>
                    </a>
                    <a class="ui circular icon button item">
                        <i class="large folder icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block content %}
    {% include('OGIVEAlertBundle:procedureResult:grid.html.twig') %} 
    {% include('OGIVEAlertBundle:procedureResult:list.html.twig') %}
{% endblock %}
{% block block_add_new %}
    {% include('OGIVEAlertBundle:procedureResult:new.html.twig') %}
{% endblock %}

{% block block_edit %}
    <div id="edit_procedureResult_content">

    </div>
{% endblock %}

{% block block_sms %}
    <div id="send_notification_procedureResult_content">

    </div>
{% endblock %}

{% block block_confirmation_modal %}
    <div id="confirm_delete_procedureResult" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer cette attribution.</p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_delete_procedureResult"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="confirm_enable_procedureResult" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de l'activation
        </div>
        <div class="content">
            <p>Vous êtes sur le point d'activer cette attribution. </p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
            {#<div class='ui form'>
                <div class="field" >
                    <div class="ui checkbox">
                        <input id='checkbox_send_confirmation' type="checkbox" name="new_procedureResult" >
                        <label> Notifier l'abonné d'un premier abonnement</label>
                    </div>
                </div>
                <div class="field" >
                    <div class="ui checkbox">
                        <input id='checkbox_send_confirmation' type="checkbox" name="renewal_procedureResult" >
                        <label> Notifier l'abonné d'un renouvellement de l'abonnement</label>
                    </div>
                </div>
            </div>#}
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id='execute_enable_procedureResult' class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="confirm_disable_procedureResult" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la désactivation
        </div>
        <div class="content">
            <p>Vous êtes sur le point de désactiver cette attribution. </p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id='execute_disable_procedureResult' class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogivealert/js/procedureResult.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ogivealert/js/send_notification_procedureResult.js')}}"></script>
{% endblock %}