<div id="edit_procedureResult" class="ui small modal">
    <i class="close icon"></i>
    <div id="header_details" class="header">
        Details de l'attribution << {{procedureResult.reference}} >>
    </div>
    <div id="header_edits" class="header" style="display: none">
        Modification de l'attribution << {{procedureResult.reference}} >>
    </div>
    <div class="content">
        {{ form_start(form, {'method': 'PUT', 'action': path('procedureResult_update', {'id': procedureResult.id}), 'attr': {'class': 'ui form', 'id': 'edit_procedureResult_form', "autocomplete":"off"}}) }}
        <div id="block_form_edit" style="display: none">
            <div class="inline fields">
                <label>Type d'attribution: </label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input id='checkbox_aao_edit' type="radio" name="attribution_type" value="ATTRIBUTION_AAO" {% if procedureResult.type == "ATTRIBUTION_AAO" %} checked="checked" {% endif %}>
                        <label>D'un AAO</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input id='checkbox_asmi_edit' type="radio" name="attribution_type" value="ATTRIBUTION_ASMI" {% if procedureResult.type == "ATTRIBUTION_ASMI" %} checked="checked" {% endif %}>
                        <label>D'un ASMI</label>
                    </div>
                </div>
            </div>

            <div class="field">
                {{ form_label(form.reference,"Numéro") }}
                {{ form_widget(form.reference,{'attr':{'placeholder':"Numéro de l'attribution", 'data-validate': 'reference'}})}}
            </div>

            <div id="field_aao_edit" class="field" {% if procedureResult.type != "ATTRIBUTION_AAO" %} style="display: none" {% endif %}>
                {{ form_label(form.callOffer,"L'appel d'offre conserné") }}
                {{ form_errors(form.callOffer, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.callOffer,{'attr':{'data-validate': 'callOffer', 'class': 'ui search dropdown'}})}}
            </div>

            <div id="field_asmi_edit" class="field" {% if procedureResult.type != "ATTRIBUTION_ASMI" %} style="display: none" {% endif %}>
                {{ form_label(form.expressionInterest,"La manifestation d'intérêt consernée") }}
                {{ form_errors(form.expressionInterest, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.expressionInterest,{'attr':{'data-validate': 'expressionInterest', 'class': 'ui search dropdown'}})}}
            </div>

            <div class="field">
                {{ form_label(form.domain,"Domaine d'activité") }}
                {{ form_errors(form.domain, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.domain,{'attr':{'data-validate': 'domain', 'class': 'ui search dropdown'}})}}
            </div>

            <div id='subDomain_add_field' class="field">
                {{ form_label(form.subDomain,"Sous-domaine d'activité") }}
                {{ form_errors(form.subDomain, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.subDomain,{'attr':{ 'data-validate': 'subDomain', 'class': 'ui search dropdown'}})}}
            </div>

            <div class="field">
                {{ form_label(form.object,"Objet") }}
                {{ form_errors(form.object, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.object,{'attr':{'placeholder':"Contenu de l'attribution", 'data-validate': 'object'}})}}
            </div>

            <div class="field">
                {{ form_label(form.publicationDate,"Date de publication", {'for': 'openingDate_edit'}) }}
                <div class="ui calendar" >
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        {{ form_widget(form.publicationDate,{'id':'publicationDate_edit', 'attr':{'data-validate': 'publication_date'}})}}
                    </div>
                </div>
            </div>

            {#<div class="field">
                {{ form_label(form.publicationDate,"Date de publication") }}
                {{ form_widget(form.publicationDate,{'attr':{'data-validate': 'publication_date'}})}}
            </div>#}

            {#<div class="field">
                {{ form_label(form.sendingDate,"Date de notification aux abonnés") }}
                <div class="two fields">
                    <div class="field">
                        {{ form_widget(form.sendingDate.date,{'attr':{'data-validate': 'sending_date_date'}})}}
                    </div>
                    <div class="field">
                        {{ form_widget(form.sendingDate.time,{'attr':{'data-validate': 'sending_date_time'}})}}
                    </div>
                </div>
            </div>#}

            <div class="field" {% if not is_granted('ROLE_ADMIN') %} style="display: none;"{% endif %}>
                <div class="ui checkbox">
                    <input id='checkbox_activate_edit' type="checkbox" name="send_activate" {% if procedureResult.state == 1 %} checked="checked" {% endif %}>
                    <label> Activer l'attribution</label>
                </div>
            </div>

            <div class="field">
                {{ form_label(form.uploadedFiles, "Fichiers attachés")}}           
                {{ form_errors(form.uploadedFiles, {'attr': {'class': 'list'}})}}           
                {{ form_widget(form.uploadedFiles) }}
            </div>

            <div class="field">
                {{form_rest(form)}}
                <div id="server_error_message" class="ui negative message" style="display:none">
                    <i class="close icon"></i>
                    <div id="server_error_content" class="header">Internal server error</div>
                </div>
                <div id="error_name_message" class="ui error message" style="display: none">
                    <i class="close icon"></i>
                    <div id="error_name_header" class="header"></div>
                    <ul id="error_name_list" class="list">
                    </ul>
                </div>
            </div>
        </div>
        <div id="block_details">
            <div class="two fields">
                <div class="field">
                    <label>Référence : </label> 
                </div>
                <div class="field">
                    <span> {{ procedureResult.reference}}</span>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>Contenu : </label> 
                </div>
                <div class="field">
                    {{ procedureResult.object}}
                </div>
            </div>
            {% if procedureResult.callOffer %}
                <div class="two fields">
                    <div class="field">
                        <label>AAO : </label> 
                    </div>
                    <div class="field">
                        <span> {{ procedureResult.callOffer.reference}}</span>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Objet : </label> 
                    </div>
                    <div class="field">
                        <span> {{ procedureResult.callOffer.object}}</span>
                    </div>
                </div>
            {% elseif procedureResult.expressionInterest %}
                <div class="two fields">
                    <div class="field">
                        <label>ASMI : </label> 
                    </div>
                    <div class="field">
                        <span> {{ procedureResult.expressionInterest.reference}}</span>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Objet : </label> 
                    </div>
                    <div class="field">
                        <span> {{ procedureResult.expressionInterest.object}}</span>
                    </div>
                </div>
            {% endif %}

            <div class="two fields">
                <div class="field">
                    <label>Date de publication : </label> 
                </div>
                <div class="field">
                    <span> {{ procedureResult.publicationDate is empty ? "" : procedureResult.publicationDate|date('d-m-Y H:i:s')}}</span>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>Date de notification aux abonnés : </label>
                </div>
                <div class="field">
                    <span> {{ procedureResult.sendingDate is empty ? "" : procedureResult.sendingDate|date('d-m-Y H:i:s')}}</span>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>Date de création : </label>
                </div>
                <div class="field">
                    <span> {{ procedureResult.createDate is empty ? "" : procedureResult.createDate|date('d-m-Y H:i:s')}}</span>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>Date de la dernière modification : </label> 
                </div>
                <div class="field">
                    <span> {{ procedureResult.lastUpdateDate is empty ? "" : procedureResult.lastUpdateDate|date('d-m-Y H:i:s')}}</span>
                </div>
            </div>

            <div id="field_state_enable" class="two fields" {% if procedureResult.state != 1 %} style="display: none" {% endif %}>
                <div class="field">
                    <label>Etat : </label>
                </div>
                <div class="field">
                    <span> Activé </span>
                </div>             
            </div>

            <div id="field_state_disable" class="two fields" {% if procedureResult.state == 1 %} style="display: none" {% endif %}>
                <div class="field">
                    <label>Etat : </label>
                </div>
                <div class="field">
                    <span> Désactivé </span>
                </div>

            </div>

        </div>
        <div class="field">
            {{form_rest(form)}}
            <div id="server_error_message_edit" class="ui negative message" style="display:none">
                <i class="close icon"></i>
                <div id="server_error_content_edit" class="header">Internal server error</div>
            </div>
            <div id="error_name_message_edit" class="ui error message" style="display: none">
                <i class="close icon"></i>
                <div id="error_name_header_edit" class="header"></div>
                <ul id="error_name_list_edit" class="list">

                </ul>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
    <div class="actions">
        <div id="cancel_details_procedureResult" class="ui black deny button">
            Fermer
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div id="cancel_edit_procedureResult" class="ui grey button" style="display:none">
                Annuler
            </div>
            <div id='disable_procedureResult' onclick="disable_procedureResult({{procedureResult.id}});" class="ui red icon button" {% if procedureResult.state != 1 %} style="display: none" {% endif %}>
                <i class="lock icon"></i>
                Désactiver
            </div>
            <div id='enable_procedureResult' onclick="enable_procedureResult({{procedureResult.id}});" class="ui green icon button" {% if procedureResult.state == 1 %} style="display: none" {% endif %}>
                <i class="unlock icon"></i>
                Activer
            </div>
            <div id='edit_procedureResult_btn' class="ui primary icon button">
                <i class="edit icon"></i>
                Modifier
            </div>
            <div id='submit_edit_procedureResult' class="ui primary icon button" style="display: none">
                <i class="save icon"></i>
                Sauvegarder
            </div>
        {% endif %}
    </div>
</div>