<div id='list_as_grid' class="ui basic segment container">
    <div id='list_as_grid_content' class="ui four column doubling stackable grid">
        {%if subscribers %}
            {%for subscriber in subscribers%}            
                <div id="subscriber_grid{{subscriber.id}}" class="column">
                    <div class="ui fluid card">
                        
                        <div class="content">
                            <div class="header">
                                {{subscriber.name}}{%if subscriber.entreprise%} ({{subscriber.entreprise.name}}){% endif %}
                            </div>
                            <div class="description">
                                <span>{{subscriber.phoneNumber}}</span><br>
                                <span>{{subscriber.email}}</span><br>
                                <span>Type notif: {{subscriber.notificationType|notificationType}}</span><br>
                                <span>Forfait: {{ subscriber.subscription.periodicity|periodicity}}</span><br>
                                {%if subscriber.state == 1 %}
                                    <span class="ui green right ribbon label">Activé</span>
                                {% elseif subscriber.expiredState == 0 and subscriber.state == 0%}
                                    <span class="ui red right ribbon label">Désactivé</span>
                                {% elseif subscriber.expiredState == 1 %}
                                    <span class="ui orange right ribbon label">Expiré</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="extra content">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a id="enable_subscriber_grid{{subscriber.id}}" class="unbind_btn" onclick="enable_subscriber({{subscriber.id}});" {% if subscriber.state == 1 %} style="display: none" {% endif %}  data-tooltip="Activer" data-position="bottom center" data-inverted=""><i class="unlock red icon"></i></a>
                                <a id="disable_subscriber_grid{{subscriber.id}}" class="unbind_btn" onclick="disable_subscriber({{subscriber.id}});" {% if subscriber.state != 1 %} style="display: none" {% endif %}  data-tooltip="Désactiver" data-position="bottom center" data-inverted=""><i class="lock green icon"></i></a>
                                {% endif %}
                            <div class="right floated">
                                <a onclick="renewal_subscription_subscriber({{subscriber.id}});" class="renewal_subscription_subscriber_btn unbind_btn item" data-tooltip="Renouveler l'abonnement" data-position="top center" data-inverted="">
                                    <i class="payment icon"></i>
                                </a> 
                                {% if subscriber.state == 1 %}

                                    <a onclick="send_subscription_confirmation({{subscriber.id}});" class="send_sms_subscriber_btn unbind_btn item" data-tooltip="Envoyer un accusé de reception" data-position="top center" data-inverted="">
                                        <i class="alarm icon"></i>
                                    </a>

                                {% endif %}
                                <a onclick="send_mail_subscriber({{subscriber.id}});" class="send_mail_subscriber_btn unbind_btn item" data-tooltip="Envoyer un mail" data-position="top center" data-inverted="">
                                    <i class="mail icon"></i>
                                </a>
                                <a onclick="send_sms_subscriber({{subscriber.id}});" class="send_sms_subscriber_btn unbind_btn item" data-tooltip="Envoyer un SMS" data-position="top center" data-inverted="">
                                    <i class="talk icon"></i>
                                </a>
                                <a class="ui dropdown item">
                                    <i class="ellipsis vertical icon"></i>
                                    <div class="menu">

                                        <div onclick="show_subscriber({{subscriber.id}});" class="show_subscriber_btn unbind_btn item">
                                            <i class="unhide icon"></i>
                                            Détails
                                        </div>
                                        <div onclick="edit_subscriber({{subscriber.id}});" class="edit_subscriber_btn unbind_btn item">
                                            <i class="edit icon"></i>
                                            Modifier
                                        </div>
                                        <div onclick="delete_subscriber({{subscriber.id}});" class="delete_subscriber_btn unbind_btn item">
                                            <i class="trash icon"></i>
                                            Supprimer
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%} 
        {%endif%}         
    </div>
</div>