{% extends "OGIVEAlertBundle::layout.html.twig" %}
{% block title %}Les abonnés{% endblock %}

{% block sub_header %}
    {{parent()}}
    <form id='search_form' method='GET' action='{{path(app.request.attributes.get('_route'))}}'>
        <div id="second_computer_top_nav" class="ui computer_top_nav inverted main menu" style="background-color: #eeeeee; position: fixed;
             top: 70px; left: 0; right: 0; height:4em;">
            <div class="ui container">
                <div class="ui left inverted secondary menu">
                    <a href="{{ path('subscriber_index') }}" id="document_title" class="item">
                        <h3>Liste des abonnés</h3>
                    </a>
                </div>

                <div class="ui center inverted secondary menu">
                    <div class="ui search item">
                        <div class="ui action input" style="width: 35em">
                            <div class="ui input right icon s" style="width: 35em"> 
                                <i class="remove link icon s" {% if not search_query %} style="display: none;" {% endif %} search_input_id='s'></i>
                                <input id="s" class="prompt search_input" type="text" placeholder="{% if placeholder %} {{placeholder}} {% endif %}" value='{% if search_query %} {{search_query}} {% endif %}' name='search_query'>
                            </div>
                            <button id="submit_search_form" type="submit" class="ui yellow button"><i class="search icon"></i></button>
                        </div>
                        <div class="results"></div>                 
                    </div>  
                </div>

                <div class="ui right inverted secondary menu">
                    <div id='show_list_table' class="ui circular icon button item" data-tooltip="Afficher sous forme de liste" data-position="bottom center" data-inverted="">
                        <i class="large list layout icon"></i>
                    </div>
                    <a class="ui circular icon button item">
                        <i class="large trash icon"></i>
                    </a>
                    <a class="ui circular icon button item">
                        <i class="large folder icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block content %}
    {% include('OGIVEAlertBundle:subscriber:grid.html.twig') %} 
    {% include('OGIVEAlertBundle:subscriber:list.html.twig') %}
{% endblock %}
{% block block_add_new %}
    {% include('OGIVEAlertBundle:subscriber:new.html.twig') %}
{% endblock %}

{% block block_edit %}
    <div id="edit_subscriber_content">

    </div>
{% endblock %}
{% block block_sms %}
    <div id="send_sms_subscriber_content">

    </div>
    <div id="send_mail_subscriber_content">

    </div>
{% endblock %}

{% block block_confirmation_modal %}
    <div id="confirm_delete_subscriber" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la suppression
        </div>
        <div class="content">
            <p>Vous êtes sur le point de supprimer cet abonné. </p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_delete_subscriber"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="confirm_send_confirm_subscription" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation d'envoi de l'accusé de reception
        </div>
        <div class="content">
            <p>Vous êtes sur le point d'envoyer une confirmation de l'abonnement à cet abonné. </p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id="execute_send_confirm_subscription"  class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div id="confirm_enable_subscriber" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de l'activation
        </div>
        <div class="content">            
            <form class='ui form' id='enable_subscriber_form'>
                <p>Vous êtes sur le point d'activer cet abonné. </p>
                <p>Voulez-vous vraiment réaliser cette action ?</p>
                <div class="inline fields">
                    <label>La raison de l'activation</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="subscription_update" value='new-subscription'>
                            <label>Abonnement</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="subscription_update" value='renewal-subscription'>
                            <label>Réabonnement</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="subscription_update" value='others'>
                            <label>Autres</label>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui error message"><ul class="list"><li>Vueillez préciser la raison de l'activation.</li></ul></div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id='execute_enable_subscriber' class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

    <div id="renewal_subscription_subscriber" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Renouvellement de l'abonnement
        </div>
        <div class="content">            
            <form class='ui form' id='renewal_subscription_subscriber_form'>
                <input type ='hidden'>
                <div class="field">
                    <label>Nouvelle date d'abonnement</label>
                    <div class="ui calendar" >
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input id="renewal_subscription_subscriber_date" type="text" name="renewal_subscription_subscriber_date" placeholder="Nouvelle date d'abonnement">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Nouveau type d'abonnement</label>
                    <select id="subscription_type" name="subscription_type" class="ui search fluid dropdown">
                        <option value="">Selectionner le nouveau type abonnement </option>
                        {%if subscriptions%}
                            {%for subscription in subscriptions%}
                                <option value="{{subscription.id}}">{{subscription.name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>

                <div id="server_error_message_sub" class="ui negative message" style="display:none">
                    <i class="close icon"></i>
                    <div id="server_error_content_sub" class="header">Internal server error</div>
                </div>
                <div id="error_name_message_sub" class="ui error message" style="display: none">
                    <i class="close icon"></i>
                    <div id="error_name_header_sub" class="header"></div>
                    <ul id="error_name_list_sub" class="list">

                    </ul>
                </div>

                <div class="field">
                    <div class="ui error message"><ul class="list"><li>Vueillez préciser la date du l'abonnement.</li></ul></div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div id="cancel_renewal_subscription_subscriber" class="ui red deny button">
                Annuler
            </div>
            <div id='execute_renewal_subscription_subscriber' class="ui green right labeled icon button">
                Effectuer
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>


    <div id="confirm_disable_subscriber" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Confirmation de la désactivation
        </div>
        <div class="content">
            <p>Vous êtes sur le point de désactiver cet abonné. </p>
            <p>Voulez-vous vraiment réaliser cette action ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny button">
                Non
            </div>
            <div id='execute_disable_subscriber' class="ui green right labeled icon button">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent()}}
    <script type="text/javascript" src="{{ asset('bundles/ogivealert/js/subscriber.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ogivealert/js/send_sms.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ogivealert/js/send_mail.js')}}"></script>
{% endblock %}