<div id='list_as_table' class="ui basic segment container" style="display: none;">
    <table class="ui very basic table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Entreprise</th>
                <th>Abonnement</th>
                <th>Type notification</th>
                <th class="right aligned"></th>
            </tr>
        </thead>
        <tbody id='list_as_table_content'>
            {%if subscribers%}
                {%for subscriber in subscribers%}
                    <tr id="subscriber_list{{subscriber.id}}">
                        <td>
                            <div class="ui ribbon label">{{subscriber.name}}</div>
                        </td>
                        <td>{{subscriber.phoneNumber}}</td>
                        <td>{{subscriber.email}}</td>
                        <td>{%if subscriber.entreprise%}{{subscriber.entreprise.name}}{% endif %}</td>
                        <td>{%if subscriber.subscription%}{{subscriber.subscription.name}}{% endif %}</td>
                        <td>{{subscriber.notificationType|notificationType}}</td>
                        <td class="right aligned">
                            <a onclick="renewal_subscription_subscriber({{subscriber.id}});" class="renewal_subscription_subscriber_btn item" data-tooltip="Renouveler l'abonnement" data-position="top center" data-inverted="">
                                <i class="payment icon"></i>
                            </a> 
                            {% if subscriber.state == 1 %}

                                <a onclick="send_subscription_confirmation({{subscriber.id}});" class="send_sms_subscriber_btn item" data-tooltip="Envoyer un accusé de reception" data-position="top center" data-inverted="">
                                    <i class="alarm icon"></i>
                                </a>  
                            {% endif %}
                            <a onclick="send_mail_subscriber({{subscriber.id}});" class="send_mail_subscriber_btn item" data-tooltip="Envoyer un mail" data-position="top center" data-inverted="">
                                <i class="mail icon"></i>
                            </a>
                            <a onclick="send_sms_subscriber({{subscriber.id}});" class="send_sms_subscriber_btn item" data-tooltip="Envoyer un SMS" data-position="top center" data-inverted="">
                                <i class="talk icon"></i>
                            </a>
                            <a class="ui dropdown item">
                                <i class="ellipsis vertical icon"></i>
                                <div class="menu">

                                    <div onclick="show_subscriber({{subscriber.id}});" class="show_subscriber_btn item">
                                        <i class="unhide icon"></i>
                                        Détails
                                    </div>
                                    <div onclick="edit_subscriber({{subscriber.id}});" class="edit_subscriber_btn item">
                                        <i class="edit icon"></i>
                                        Modifier
                                    </div>
                                    <div onclick="delete_subscriber({{subscriber.id}});" class="delete_subscriber_btn item">
                                        <i class="trash icon"></i>
                                        Supprimer
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div onclick="enable_subscriber({{subscriber.id}});" class="enable_subscriber_btn item" {% if subscriber.state == 1 %} style="display: none" {% endif %}>
                                            <i class="unlock icon"></i>
                                            Activer
                                        </div>
                                        <div onclick="disable_subscriber({{subscriber.id}});" class="disable_subscriber_btn item" {% if subscriber.state != 1 %} style="display: none" {% endif %}>
                                            <i class="lock icon"></i>
                                            Désactiver
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        </td>
                    </tr>
                {%endfor%} 
            {%endif%} 

        </tbody>
    </table>
</div> 