<div id="add_subscriber" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Ajout d'un abonné
    </div>
    <div class="content">
        {{ form_start(form, {'method': 'POST', 'action': '/subscribers', 'attr': {'class': 'ui form', 'id': 'add_subscriber_form'} }) }}
            <div class="field">
                {{ form_label(form.name,"Nom") }}
                {{ form_widget(form.name,{'attr':{'placeholder':"Nom de l'abonné", 'data-validate': 'name'}})}}
            </div>
            
            <div class="field">
                {{ form_label(form.email,"Email") }}
                {{ form_widget(form.email,{'attr':{'placeholder':"Email de l'abonné", 'data-validate': 'email'}})}}
            </div>

            <div class="field">
                {{ form_label(form.phoneNumber,"Téléphone") }}
                {{ form_widget(form.phoneNumber,{'attr':{'placeholder':"Numero de téléphone", 'data-validate': 'phoneNumber'}})}}
            </div>

            <div class="field">
                {{ form_label(form.subscription,"Abonnement") }}
                {{ form_widget(form.subscription,{'attr':{'data-validate': 'subscriber', 'class': 'ui search dropdown'}})}}
            </div>
            
             <div class="field">
                {{ form_label(form.entreprise,"Entreprise") }}
                {{ form_errors(form.entreprise, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.entreprise,{'attr':{'data-validate': 'enterprise', 'class': 'ui search dropdown'}})}}
            </div>
            
            <div class="field">
                {{ form_label(form.notificationType,"Type de notification") }}
                {{ form_errors(form.notificationType, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.notificationType,{'attr':{'data-validate': 'notificationType', 'class': 'ui search dropdown'}})}}
            </div>
            
            <div class="field" {% if not is_granted('ROLE_ADMIN')%} style="display: none;"{% endif %}>
                <div class="ui checkbox">
                    <input id='checkbox_activate' type="checkbox" name="send_activate" >
                    <label> Activer l'abonné</label>
                </div>
            </div>
            
            {% if is_granted('ROLE_ADMIN')%}
            <div class="field" >
                <div class="ui checkbox">
                    <input id='checkbox_send_confirmation' type="checkbox" name="send_confirmation" checked="checked">
                    <label> Envoyer l'accusé de reception à l'abonné</label>
                </div>
            </div>
            {% endif %}

            <div class="field">
                {{form_rest(form)}}
                <div id="server_error_message" class="ui negative message" style="display:none">
                    <i class="close icon"></i>
                    <div id="server_error_content" class="header">Internal server error</div>
                </div>
                <div id="error_name_message" class="ui error message" style="display: none">
                    <i class="close icon"></i>
                    <div id="error_name_header" class="header"></div>
                    <ul id="error_name_list" class="list">

                    </ul>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
    <div class="actions">
        <div id="cancel_add_subscriber" class="ui black deny button">
            Annuler
        </div>
        <div id='submit_subscriber' class="ui primary icon button">
            <i class="save icon"></i>
            Sauvegarder
        </div>
    </div>
</div>
<button id="add_subscriber_btn" class="float_button circular ui huge yellow icon button" data-tooltip="Nouvel abonné" data-position="top center" data-inverted="">
    <i class="write icon"></i>
</button>
