{#<div id="subscriber_grid{{subscriber.id}}" class="column">#}
<div class="ui fluid card">
    {#<div class="image">
        <img src="{{asset('bundles/ogivealert/images/avatar_1.png')}}" alt="{{subscriber.name}}"/>
    </div>#}
    <div class="content">
        <div class="header">{{subscriber.name}}{%if subscriber.entreprise%} ({{subscriber.entreprise.name}}){% endif %}</div>
        <div class="description">
            {{subscriber.phoneNumber}}
        </div>
    </div>
    <div class="extra content">
        {% if is_granted('ROLE_ADMIN') %}
            <a id="enable_subscriber_grid{{subscriber.id}}" onclick="enable_subscriber({{subscriber.id}});" {% if subscriber.state == 1 %} style="display: none" {% endif %}  data-tooltip="Activer" data-position="bottom center" data-inverted=""><i class="unlock red icon"></i></a>
            <a id="disable_subscriber_grid{{subscriber.id}}" onclick="disable_subscriber({{subscriber.id}});" {% if subscriber.state != 1 %} style="display: none" {% endif %}  data-tooltip="Désactiver" data-position="bottom center" data-inverted=""><i class="lock green icon"></i></a>
            {% endif %}
        <div class="right floated">
            <a onclick="send_procedure_subscriber({{subscriber.id}});" class="send_sms_subscriber_btn item" data-tooltip="Notifier d'une procédure" data-position="bottom center" data-inverted="">
                <i class="alarm icon"></i>
            </a>
            <a onclick="send_sms_subscriber({{subscriber.id}});" class="send_sms_subscriber_btn item" data-tooltip="Envoyer un SMS" data-position="bottom center" data-inverted="">
                <i class="talk icon"></i>
            </a>
            <a class="ui dropdown item">
                <i class="ellipsis vertical icon"></i>
                <div class="menu">

                    <div onclick="show_subscriber({{subscriber.id}});" class="show_subscriber_btn item">
                        <i class="unhide icon"></i>
                        Détails
                    </div>
                    <div onclick="edit_subscriber({{subscriber.id}});" class="edit_subscriber_btn item">
                        <i class="edit icon"></i>
                        Modifier
                    </div>
                    <div onclick="delete_subscriber({{subscriber.id}});" class="delete_subscriber_btn item">
                        <i class="trash icon"></i>
                        Supprimer
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{#</div>#}