<div id="add_domain" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Ajout d'un domaine
    </div>
    <div class="content">
        <form id="add_domain_form" class="ui form" name="ogive_alertbundle_domain" method="POST" action="{{ path('domain_add') }}" {{ form_enctype(form) }} novalidate="novalidate">

            <div class="field">
                {{ form_label(form.name,"Nom") }}
                {{ form_widget(form.name,{'attr':{'placeholder':'Nom du domaine', 'data-validate': 'name'}})}}
            </div>

            <div class="field">
                {{ form_label(form.description,"Description") }}
                {{ form_errors(form.description, {'attr': {'class': 'ui error message'}})}}
                {{ form_widget(form.description,{'attr':{'placeholder':'Description du domain', 'data-validate': 'description'}})}}
            </div>

            <div class="field" {% if not is_granted('ROLE_ADMIN') %} style="display: none;"{% endif %}>
                <div class="ui checkbox">
                    <input id='checkbox_activate' type="checkbox" name="send_activate" >
                    <label> Activer l'appel d'offres</label>
                </div>
            </div>

            <div class="field">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">Ajout des sous-domaines</div>
                    </div>
                    <div class="content">
                        <table class="ui very basic table">
                            <thead>
                                <tr><th>Nom</th>
                                    <th>Description</th>
                                    <th class="right aligned">Action</th>
                                </tr>
                            </thead>
                            <tbody class="subDomains" data-prototype="{{ _self.subDomain_prototype(form.subDomains.vars.prototype)|e }}">
                                {% for subDomain in form.subDomains %}
                                    <tr>
                                        {{ _self.subDomain_prototype(subDomain) }}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            {% macro subDomain_prototype(childForm) %}
                                <td>{{ form_widget(childForm.name,{'attr':{'data-validate': 'name_subDomain'}}) }}</td>
                                <td>{{ form_widget(childForm.description,{'attr':{'data-validate': 'description_subDomain'}}) }}</td>                          
                            {% endmacro %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="field">
                <div id="server_error_message" class="ui negative message" style="display:none">
                    <i class="close icon"></i>
                    <div id="server_error_content" class="header">Internal server error</div>
                </div>
                <div id="error_name_message" class="ui error message" style="display: none">
                    <i class="close icon"></i>
                    <div id="error_name_header" class="header"></div>
                    <ul id="error_name_list" class="list">

                    </ul>
                </div>
            </div>

            {{form_widget(form._token)}}
            {#{ form_end(form) }#}
        </form>
    </div>
    <div class="actions">
        <div id="cancel_add_domain" class="ui black deny button">
            Annuler
        </div>
        <div id='submit_domain' class="ui primary icon button">
            <i class="save icon"></i>
            Sauvegarder
        </div>
    </div>
</div>
<button id="add_domain_btn" class="float_button circular ui huge red icon button" data-tooltip="Nouveau domaine" data-position="top center" data-inverted="">
    <i class="icon plus"></i>
</button>
