<div id="edit_domain" class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        Details du domaine << {{domain.name}} >>
    </div>
    <div class="content">
        {{ form_start(form, {'method': 'PUT', 'action': path('domain_update', {'id': domain.id}), 'attr': {'class': 'ui form', 'id': 'edit_domain_form'} }) }}

        <div class="field">
            {{ form_label(form.name,"Nom") }}
            {{ form_widget(form.name,{'attr':{'placeholder':'Nom du domaine', 'data-validate': 'name', 'class': 'disabled'}})}}
        </div>

        <div class="field">
            {{ form_label(form.description,"Description") }}
            {{ form_errors(form.description, {'attr': {'class': 'ui error message'}})}}
            {{ form_widget(form.description,{'attr':{'placeholder':'Description du domain', 'data-validate': 'description', 'class': 'disabled'}})}}
        </div>

        <div class="inline field">
            <label>Date de création : </label> <span> {{ domain.createDate is empty ? "" : domain.createDate|date('d-m-Y H:i:s')}}</span>
        </div>

        <div class="inline field">
            <label>Date de la dernière modification : </label> <span> {{ domain.createDate is empty ? "" : domain.createDate|date('d-m-Y H:i:s')}}</span>
        </div>

        <div class="inline field">
            <label>Etat : </label> <span> {%if domain.state == 1 %} Activé {% else %} Désactivé {% endif %}</span>
        </div>

        <div class="field">
            {{form_rest(form)}}
            <div id="server_error_message_edit" class="ui negative message" style="display:none">
                <i class="close icon"></i>
                <div id="server_error_content_edit" class="header">Internal server error</div>
            </div>
            <div id="error_name_message_edit" class="ui error message" style="display: none">
                <i class="close icon"></i>
                <div id="error_name_header_edit" class="header"></div>
                <ul id="error_name_list_edit" class="list">

                </ul>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
    <div class="actions">
        <div id="cancel_edit_domain" class="ui black deny button">
            Fermer
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            {% if domain.state == 1 %}
                <div id='disable_domain' class="ui red icon button">
                    <i class="save icon"></i>
                    Désactiver
                </div>
            {% else %}
                <div id='enable_domain' class="ui green icon button">
                    <i class="save icon"></i>
                    Activer
                </div>
            {% endif %}
            <div id='edit_domain_btn' class="ui primary icon button">
                <i class="edit icon"></i>
                Modifier
            </div>
            <div id='submit_edit_domain' class="ui primary icon button">
                <i class="save icon"></i>
                Sauvegarder
            </div>
        {% endif %}
    </div>
</div>