<tr id="expressionInterest_list{{expressionInterest.id}}">
    <td>
        <div class="ui ribbon label">{{expressionInterest.reference}}</div>
    </td>
    <td>{{expressionInterest.object}}</td>
    <td class="right aligned">
        <a onclick="send_procedure_expressionInterest({{expressionInterest.id}});" class="send_sms_expressionInterest_btn item" data-tooltip="Notifier les abonnés" data-position="top center" data-inverted="">
            <i class="alarm icon"></i>
        </a>
        <a class="ui dropdown item">
            <i class="ellipsis vertical icon"></i>
            <div class="menu">
                <div onclick="show_expressionInterest({{expressionInterest.id}});" class="show_expressionInterest_btn item">
                    <i class="unhide icon"></i>
                    Détails
                </div>
                <div onclick="edit_expressionInterest({{expressionInterest.id}});" class="edit_expressionInterest_btn item">
                    <i class="edit icon"></i>
                    Modifier
                </div>
                <div onclick="delete_expressionInterest({{expressionInterest.id}});" class="delete_expressionInterest_btn item">
                    <i class="trash icon"></i>
                    Supprimer
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div onclick="enable_expressionInterest({{expressionInterest.id}});" class="enable_expressionInterest_btn item" {% if expressionInterest.state == 1 %} style="display: none" {% endif %}>
                        <i class="unlock icon"></i>
                        Activer
                    </div>
                    <div onclick="disable_expressionInterest({{expressionInterest.id}});" class="disable_expressionInterest_btn item" {% if expressionInterest.state != 1 %} style="display: none" {% endif %}>
                        <i class="lock icon"></i>
                        Désactiver
                    </div>
                {% endif %}
            </div>
        </a>
    </td>
</tr>