{% extends "OGIVEUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Profil{% endblock %}

{% block login_content %}
    <div class="ui singup_contenair basic segment container">
        <div id='show_profile' class="ui centered card">
            <div class="first content text center aligned">
                <h2 class="header">Votre profil</h2>
            </div>
            <div class="content">
                <div class='ui form'>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Username</label>
                        </div>
                        <div class="eleven wide field">
                            <span class="span_value">{{user.username}}</span>
                        </div>                              
                    </div>
                    <div class="fields">
                        <div class="five wide field">
                            <label>Email</label>
                        </div>
                        <div class="eleven wide field">
                            <span class="span_value">{{user.email}}</span>
                        </div>                              
                    </div>
                        
                    <div class="fields">
                        <div class="five wide field">
                            <label>First Name</label>
                        </div>
                        <div class="eleven wide field">
                            <span class="span_value">{{user.firstname}}</span>
                        </div>                              
                    </div>
                        
                    <div class="fields">
                        <div class="five wide field">
                            <label>Last Name</label>
                        </div>
                        <div class="eleven wide field">
                            <span class="span_value">{{user.lastname}}</span>
                        </div>                              
                    </div>
                        
                    <a href='{{path('fos_user_profile_edit')}}' class="ui right floated primary button" >Modifier</a>   
                </div>
            </div>
        </div>
    </div>
{% endblock %}