<div id='list_as_table' class="ui basic segment container">
    <table class="ui very basic table">
        <thead>
            <tr><th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id='list_as_table_content'>
            {%if users%}
                {%for user in users%}
                    <tr >                        
                        <td>
                            <span>{{user.username}}</span>
                        </td>
                        <td>
                            <span>{{user.email}}</span>
                        </td>
                        <td>
                            <span >{{user.firstname}}</span>
                        </td>
                        <td>
                            <span>{{user.lastname}}</span>
                        </td >
                        <td >
                            {% if is_granted('ROLE_SUPER_ADMIN') or  app.user.id == user.id  %}
                                <a href="{{path('user_update', {'id': user.id})}}">
                                    <i class="edit icon"></i>
                                </a>
                            {% endif %}
                        </td>                       
                    </tr>
                {%endfor%} 
            {%endif%} 
        </tbody>
    </table>
</div> 