{% extends "OGIVEUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Modification du compte{% endblock %}

{% block login_content %}
    <div class="ui singup_contenair basic segment container">
        <div class="ui centered card">
            <div class="first content text center aligned">
                <h2 class="header">Modification du compte de {{user.username}}</h2>
            </div>
            <div class="content">
                <p>Veuillez renseigner les informations de l'utilisateur ici                    
                    {{ form_start(form, {'method': 'POST', 'action': path('user_update', {'id': user.id}), 'attr': {'class': 'ui form', 'id': 'update_user_form'} }) }}

                <div class="inline fields">
                    <label>Privilège: </label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="role" value="ROLE_ADMIN" {% if user_role == "ROLE_ADMIN" %} checked="checked" {% endif %}>
                            <label>Administrateur</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="role" value="REDACTEUR" {% if user_role == "REDACTEUR" %} checked="checked" {% endif %}>
                            <label>Redacteur</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="role" value="FACTURIER" {% if user_role == "FACTURIER" %} checked="checked" {% endif %}>
                            <label>Facturier</label>
                        </div>
                    </div>
                </div>

                <div class="field">
                    {{ form_label(form.username,"Matricule") }}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.username, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.username,{'attr':{'placeholder':'Matricule', 'data-validate': 'username'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.email,"Adresse email") }}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.email, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.email,{'attr':{'placeholder':'Adresse email', 'data-validate': 'email'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.lastname,"Nom") }}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.lastname, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.lastname,{'attr':{'placeholder': 'Nom', 'data-validate': 'lastname'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.firstname,"Prénom") }}
                    <div class="ui error message">
                        <i class="close icon"></i>
                        {{ form_errors(form.firstname, {'attr': {'class': 'list'}})}}
                    </div>
                    {{ form_widget(form.firstname,{'attr':{'placeholder': 'Prénom', 'data-validate': 'firstname'}})}}
                </div>
                <div class="field">
                    {{form_widget(form._token)}}
                </div>

                <button class="ui right floated primary button" type="submit">Modifier</button>
                <a href="{{path('users_index')}}" class="ui right floated red button" type="reset">Annuler</a>
                </form>
            </div>
        </div> 
    </div>
{% endblock %}