{% extends "OGIVEAlertBundle::layout.html.twig" %}
{% block title %}L'Historique d'envoi des SMS aux abonnés{% endblock %}

{% block sub_header %}
    {{parent()}}
    <div id="second_computer_top_nav" class="ui computer_top_nav inverted main menu" style="background-color: #eeeeee; position: fixed;
         top: 70px; left: 0; right: 0; height:4em;">
        <div class="ui container">
            <div class="ui left inverted secondary menu">
                <a id="document_title" class="item">
                    <h3>L'Historique d'envoi des SMS aux abonnés</h3>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% include('OGIVEAlertBundle:historicalAlertSubscriber:list_sms.html.twig') %}
{% endblock %}
{% block pagination %}
    {%if total_pages>1 and total_pages >= page %}
    <div id='pagination' class="ui basic segment container">
        <div class="ui right floated pagination menu">
            {%if page > 1 %}
                <a href="{{path('historicalAlertSubscriber_sms_index', {page: page-1})}}" class="icon item">
                    <i class="left chevron icon"></i>
                </a>
            {% endif %}
            <a href="{{path('historicalAlertSubscriber_sms_index', {page: page})}}" class="active_page item">{{i}}</a>
            {#{% for i in 1..total_pages %}
                {% if i== page %}
                    <a href="{{path('historicalAlertSubscriber_sms_index', {page: i})}}" class="active_page item">{{i}}</a>
                {% else %}
                    <a href="{{path('historicalAlertSubscriber_sms_index', {page: i})}}" class="item">{{i}}</a>
                {% endif %}
            {% endfor %}#}
            {%if page <= total_pages-1 %}
                <a href="{{path('historicalAlertSubscriber_sms_index', {page: page+1})}}" class="icon item">
                    <i class="right chevron icon"></i>
                </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent()}}
   
{% endblock %}