{% extends "OGIVEAlertBundle::layout.html.twig" %}
{% block title %}L'Historique d'envoi des SMS aux abonnés{% endblock %}

{% block sub_header %}
    {{parent()}}
    <form id='search_form' method='GET' action='{{path(app.request.attributes.get('_route'))}}'>
        <div id="second_computer_top_nav" class="ui computer_top_nav inverted main menu" style="background-color: #eeeeee; position: fixed;
             top: 70px; left: 0; right: 0; height:4em;">
            <div class="ui container">
                <div class="ui left inverted secondary menu">
                    <a href="{{path('historicalAlertSubscriber_sms_index')}}" id="document_title" class="item">
                        <h3>Historique d'envoi des SMS aux abonnés</h3>
                    </a>
                </div>
                <div class="ui center inverted secondary menu">
                    <div class="ui search item">
                        <div class="ui action input" style="width: 35em">
                            <div class="ui input right icon s" style="width: 35em"> 
                                <i class="remove link icon s" {% if not search_query %} style="display: none;" {% endif %} search_input_id='s'></i>
                                <input id="s" class="prompt search_input" type="text" placeholder="{% if placeholder %} {{placeholder}} {% endif %}" value='{% if search_query %} {{search_query}} {% endif %}' name='search_query'>
                            </div>
                            <button id="submit_search_form" type="submit" class="ui yellow button"><i class="search icon"></i></button>
                        </div>
                        <div class="results"></div>                 
                    </div>  
                </div>
                <div class="ui right inverted secondary menu">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block content %}
    {% include('OGIVEAlertBundle:historicalAlertSubscriber:list_sms.html.twig') %}
{% endblock %}

{% block javascripts %}
    {{ parent()}}

{% endblock %}