<div id='list_as_table' class="ui basic segment container">
    <table class="ui very basic table">
        <thead>
            <tr><th>Entreprise</th>
                <th>Numéro de téléphone</th>
                <th>Date d'envoi</th>
                <th>Coût</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody id='list_as_table_content'>
            {%if messages%}
                {%for message in messages%}
                    <tr >                        
                        <td class="tooltip">
                           {% if message.subscriber and message.subscriber.entreprise %} {{ message.subscriber.entreprise.name}} {% endif %}
                           <span class="tooltiptext">{{message.body}}</span>
                        </td>
                        <td class="tooltip">
                            {{message.to}}
                            <span class="tooltiptext">{{message.body}}</span>
                        </td>
                        <td class="tooltip">
                            {{message.dateSent |date('d-m-Y H:i:s')}}
                            <span class="tooltiptext">{{message.body}}</span>
                        </td>
                        <td class="tooltip">
                            {{message.price}}
                            <span class="tooltiptext">{{message.body}}</span>
                        </td >
                        <td class="tooltip">{{message.status}}<span class="tooltiptext">{{message.body}}</span></td>                       
                    </tr>
                {%endfor%} 
            {%endif%} 

        </tbody>
    </table>
</div> 