{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    {% include('OGIVEAlertBundle::header.html.twig') %}
    {% block sub_header %}
        <div id="message_success" class="ui success message" style="position: fixed; top: 5em; right: 40em; left: auto; z-index: 5; width: 28em; display: none">
            <i class="close icon"></i>
            <div class="header"></div>
        </div>

        <div id="message_error" class="ui error message" style="position: fixed; top: 5em; right: 40em; left: auto; z-index: 5; width: 28em; display: none">
            <i class="close icon"></i>
            <div class="header"> </div>
        </div>

        <div id="message_loading" class="ui icon message" style="position: fixed; top: 5em; right: 40em; left: auto; z-index: 5; width: 20em; display: none;">
            <i class="notched circle loading icon"></i>
            <div class="content">
                <div class="header">Traitement encours... </div>
            </div>
        </div>
    {% endblock sub_header %}
    <div class="ui bottom attached segment pushable">
        <div class="pusher">
            {% include('OGIVEAlertBundle::sidebar.html.twig') %}
            {% block content %}
            {% endblock content %}
            {% block pagination %}
                {%if total_pages>1 and total_pages >= page %}
                    <div id='pagination' class="ui basic segment container">
                        <div class="ui right floated pagination menu">
                            {%if page > 1 %}
                                <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: page-1}))}}" class="icon item">
                                    <i class="left chevron icon"></i>
                                </a>
                            {% endif %}
                            <select id='pagination' class="ui item dropdown">
                            {% for i in 1..total_pages %}
                                <option value="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: i}))}}" {% if i== page %}selected="selected"{% endif %}>{{i}}</option>
                                {#{% if i== page %}
                                    <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: i}))}}" class="active_page item">{{i}}</a>
                                {% else %}
                                    <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: i}))}}" class="item">{{i}}</a>
                                {% endif %}#}
                            {% endfor %}
                            </select>
                            {%if page <= total_pages-1 %}
                                <a href="{{path(app.request.attributes.get('_route'), route_param_search_query|merge({page: page+1}))}}" class="icon item">
                                    <i class="right chevron icon"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}  
        </div>
    </div>

{% block block_add_new %}{%endblock%} 

{% block block_edit %}{%endblock%} 
{% block block_sms%}{%endblock %} 
{% block block_confirmation_modal%}{%endblock%} 
{% include('OGIVEAlertBundle::footer.html.twig') %}
{% endblock body%}