<div class="ui vertical accordion following inverted sidebar menu">
    <div class="sidebar_title item">
        Alert M.P
    </div>
    <div class="item">
        <div class="title">Procedures <i class="dropdown icon"></i></div>
        <div class="content menu">
            <a href="{{ path('call_offer_index') }}" class="item">Appels d'offre</a>
            <a href="{{ path('procedureResult_index') }}" class="item">Resultats</a>
            <a href="{{ path('expressionInterest_index') }}" class="item">Manifestations d'intérêt</a>
            <a href="{{ path('additive_index') }}" class="item">Additifs</a>
        </div>
    </div>
    <div class="item">
        <div class="title"><a href="{{ path('domain_index') }}">Domaines</a></div>
    </div>
    <div class="item">
        <div class="title"><a href="{{ path('entreprise_index') }}">Entreprises</a></div>
    </div>
    <div class="item">
        <div class="title"><a href="{{ path('subscription_index') }}">Abonnements</a></div>
    </div>
    <div class="item">
        <div class="title"><a href="#">Abonnés</a></div>
    </div>

    <div class="item">
        <div class="title"><a href="#">Suivis spécialisés</a></div>
    </div>
    <div class="item">
        <div class="title">Historiques <i class="dropdown icon"></i></div>
        <div class="content menu">
            <a href="#" class="item">SMS</a>
            <a href="#" class="item">Mails</a>
        </div>
    </div>
</div>