<div class="ui vertical accordion following inverted sidebar menu">
    <div class="sidebar_title item">
        Alert M.P
    </div>
    <div class="item">
        <div class="title">Procédures <i class="dropdown icon"></i></div>
        <div class="content menu">
            <a href="{{ path('expressionInterest_index') }}" class="item">ASMI</a>
            <a href="{{ path('call_offer_index') }}" class="item">AAO</a>
            <a href="{{ path('additive_index') }}" class="item">Additifs</a>
            <a href="{{ path('procedureResult_index') }}" class="item">Attributions</a>           
        </div>
    </div>
    <div class="item">
        <a href="{{ path('domain_index') }}" class="title">Domaines</a>
    </div>
    <div class="item">
        <a href="{{ path('entreprise_index') }}" class="title">Entreprises</a>
    </div>
    <div class="item">
        <a href="{{ path('subscription_index') }}" class="title">Abonnements</a>
    </div>
    <div class="item">
       <a href="{{ path('subscriber_index') }}" class="title">Abonnés</a>
    </div>

    <div class="item">
        <a href="{{ path('specialFollowUp_index') }}" class="title">Suivis spécialisés & Marketing</a>
    </div>
    <div class="item">
        <div class="title">Historiques <i class="dropdown icon"></i></div>
        <div class="content menu">
            <a href="{{path('historicalAlertSubscriber_sms_index')}}" class="item">SMS</a>
            <a href="#" class="item">Mails</a>
        </div>
    </div>
</div>